<mat-card class="card">
    <mat-card-header>
      <mat-card-title class="title">Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field class="input-field" appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput type="text" [(ngModel)]="username" name="username" required>
        </mat-form-field>
        <mat-form-field class="input-field" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" [(ngModel)]="email" name="email" required>
        </mat-form-field>
        <mat-form-field class="input-field" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" [(ngModel)]="password" name="password" required>
        </mat-form-field>
        <!-- <mat-form-field class="input-field" appearance="fill">
          <mat-label>Role</mat-label>
          <mat-select [(value)]="role" name="role">
            <mat-option value="user">User</mat-option>
            <mat-option value="admin">Admin</mat-option>
          </mat-select>
        </mat-form-field> -->
        <button mat-raised-button color="primary" type="submit">Register</button>
        <button mat-button color="accent" (click)="goToLogin()">Back</button>
      </form>
    </mat-card-content>
  </mat-card>
  